
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: outside none;
  box-sizing: border-box;
}

html,
body {
  background: #F6F8FA url(/background.png) center top;
  color: #3F4347;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
